.col-md-12
  .card
    .card-header
      %h3.card-title
        %i.fa.fa-exchange-alt
        = "#{Conto.model_name.human(:count => 2)} - "
        = "ID: #{@anagrafica.IdUtente} - #{@anagrafica.full_name}"
    .card-body
      = render "table", conti: @conti
    .card-footer.clearfix
      .row
        .col-md-12
          = paginate @conti, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0', total_pages: @cached_total_pages
