%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_movements', data: {order: '[[7, "desc"]]'}}
  %thead
    %tr
      %th= Movimentoconto.human_attribute_name(:id)
      %th= Movimentoconto.human_attribute_name(:servizio)
      %th= Movimentoconto.human_attribute_name(:tipo_transazione)
      %th.text-center= Movimentoconto.human_attribute_name(:causale)
      %th= Movimentoconto.human_attribute_name(:dare)
      %th= Movimentoconto.human_attribute_name(:avere)
      %th= Movimentoconto.human_attribute_name(:importo)
      %th= Movimentoconto.human_attribute_name(:data_movimento)
      %th= Movimentoconto.human_attribute_name(:point)
      %th= Movimentoconto.human_attribute_name(:numeroConto)
      %th= Movimentoconto.human_attribute_name(:anagrafica)
      %th= Movimentoconto.human_attribute_name(:causale)
      %th= Movimentoconto.human_attribute_name(:idCausale)
      %th.action{data: {orderable: "false"}}
  %tbody
    - movimenticonti.each do |item|
      %tr
        %td= item.idmovimenticonti
        %td= link_to item.idtransazione, [:data_analysis, item.servizio] if item.servizio
        %td= item.tipotransazione
        %td= item.causale
        %td= item.dare
        %td= item.avere
        %td= item.importo
        %td= item.datamovimento
        %td= item.point
        %td= link_to item.numeroConto, data_analysis_conto_path(item.numeroConto)
        %td= link_to item.anagrafica.full_name, [:customers, item.anagrafica] if item.anagrafica
        %td= item.causale
        %td= item.idcausale
        - if can? :manage, Movimentoconto
          %td.text-center
            = link_to data_analysis_movimentoconto_path(item), class: "btn btn-xs btn-primary" do
              %i.fa.fa-eye
