%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_movements', data: {order: '[[1, "desc"], [2, "desc"]]'}}
  %thead
    %tr
      %th= CustomerEvaluation.human_attribute_name(:customer)
      %th= CustomerEvaluation.human_attribute_name(:last_attention_factor7)
      %th= CustomerEvaluation.human_attribute_name(:last_attention_factor30)
      %th= CustomerEvaluation.human_attribute_name(:nr_movements)
      %th= CustomerEvaluation.human_attribute_name(:sent)
      %th= CustomerEvaluation.human_attribute_name(:tollerance)
      %th{data: {orderable: "false"}}= CustomerEvaluation.human_attribute_name(:trend)
      %th{data: {priority: "1", orderable: "false"}}
  %tbody
    - customer_evaluations.each do |item|
      %tr.text-center
        %td= link_to obfuscator(item.anagrafica), [:customers, item.anagrafica]
        %td= number_with_precision item.last_attention_factor7
        %td= number_with_precision item.last_attention_factor30
        %td= item.nr_movements
        %td
          - tollerance = item.customer_setting.try(:tollerance) || 1 
          - sent = item.last_attention_factor30 * tollerance
          - sent = item.anagrafica.base_risk if sent < item.anagrafica.base_risk
          = number_with_precision(sent)
        %td
          = item.anagrafica.tollerance
        %td.text-center= trend_helper(item.trend)
        %td.text-center{nowrap: true}
          - if item.anagrafica.siblings.size > 1
            = link_to fa_icon('user-friends'), [:customers, :anagrafiche, filter: {fiscal_code: "#{item.anagrafica.codice_fiscale}"}], class: "btn btn-warning btn-xs", data:{toggle: "tooltip"}, title: Anagrafica.human_attribute_name(:group)
          = link_to customers_anagrafica_customer_evaluation_path(item.anagrafica,item), class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
