.row
  .col-md-12
    = simple_form_for [:data_analysis, @time_lapse_factor] do |f|
      .card.card-warning.card-outline
        .card-header
          %h3.card-title
            %i.fa.fa-key
            = t(:edit_resource, resource: Role.model_name.human)
          .spacer
        .card-body
          = render 'form', f: f
        .card-footer.clearfix
          = link_to t(:cancel, default: "Cancel"), roles_path, class: "btn btn-warning"
          = f.submit class: "btn btn-success"

