.form-row
  .col-md-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title
          %i.fa.fa-users
          = t(:listing_resource, resource: Note.model_name.human(:count => 2))
      .card-body
        %table.table.table-striped.table-bordered.table-hover.margin-none.data-table
          %thead
            %tr
              %th= Note.human_attribute_name(:customer)
              %th= Note.human_attribute_name(:user)
              %th= Note.human_attribute_name(:subject)
              %th.col-md-1{data: {orderable: "false"}, nowrap: true}
          %tbody
            - @notes.each do |note|
              %tr
                %td= link_to note.anagrafica, [:customers, note.anagrafica]
                %td= note.user
                %td= note.subject
                %td.col-md-1.text-center{nowrap: true}
                  = link_to fa_icon('eye'), [:customers, note.anagrafica, :notes], class: "btn btn-xs btn-primary", data: {toggle: "tooltip", title: t(:show_resource, resource: note.model_name.human)}
      .card-footer.clearfix
        .form-row
          .col-md-4
            = page_entries_info @notes
          .col-md-8.text-right
            = paginate @notes, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
