%table.table.table-striped.table-bordered.table-hover{id: 'table_products'}
  %thead
    %tr
      %th= Prodotto.human_attribute_name(:id)
      %th= Prodotto.human_attribute_name(:idprodotto)
      %th= Prodotto.human_attribute_name(:nome)
      %th= Prodotto.human_attribute_name(:codtabella)
      %th= Prodotto.human_attribute_name(:nometabella)
 