.card.card-primary.card-outline{class: "#{ 'collapsed-card' unless params[:filter]}" }
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:filters, default: 'Filters')
    .card-tools
      %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
        %i.fas{class: " #{ params[:filter] ? 'fa-minus' : 'fa-plus'}" }
  .card-body
    = simple_form_for :filter, method: :get, remote: false do |f|
      = f.input :daterange, label: 'Date range', input_html: { class: 'daterange' }, required: true
      .row
        .col-md-3= f.input :customer_full_name, required: false, input_html: {value: "#{params[:filter][:customer_full_name] if params[:filter]}"}
        .col-md-3= f.input :beneficiary, required: false, input_html: {value: "#{params[:filter][:beneficiary] if params[:filter]}"}
        .col-md-3= f.input :origin_country, as: :string, required: false, input_html: {value: "#{params[:filter][:origin_country] if params[:filter]}"}
        .col-md-3= f.input :destination_country, as: :string, required: false, input_html: {value: "#{params[:filter][:origin_country] if params[:filter]}"}
      .row
        .col-md-6= f.input :product_name, required: false, input_html: {value: "#{params[:filter][:product_name] if params[:filter]}"}
      = f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success'
