%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_eval_movements', data: {order: '[[8, "desc"]]'}}
  %thead
    %tr
      %th{data: {priority: "10"}}= EvalMovement.human_attribute_name(:id)
      %th{data: {priority: "9"}}= EvalMovement.human_attribute_name(:service_id)
      %th{data: {priority: "8"}}= EvalMovement.human_attribute_name(:movement_created_at)
      %th{data: {priority: "1"}}= EvalMovement.human_attribute_name(:customer_full_name)
      %th{data: {priority: "5"}}= EvalMovement.human_attribute_name(:product_name)
      %th{data: {priority: "11"}}= EvalMovement.human_attribute_name(:product_id)
      %th{data: {priority: "2"}}= EvalMovement.human_attribute_name(:beneficiary)
      %th{data: {priority: "13"}}= EvalMovement.human_attribute_name(:product_base_risk)
      %th{data: {priority: "3"}}= EvalMovement.human_attribute_name(:recursion_all_7)
      %th{data: {priority: "3"}}= EvalMovement.human_attribute_name(:recursion_all_30)
      %th{data: {priority: "4"}}= EvalMovement.human_attribute_name(:amount)
      %th{data: {priority: "12"}}= EvalMovement.human_attribute_name(:destination_lonlat)
      %th{data: {priority: "7"}}= EvalMovement.human_attribute_name(:origin_country)
      %th{data: {priority: "6"}}= EvalMovement.human_attribute_name(:destination_country)
      %th{data: {priority: "1", orderable: "false"},nowrap: true}
  %tbody
    - eval_movements.each do |item|
      %tr
        %td= item.id
        %td= item.service_id
        %td= item.movement_created_at
        %td= link_to item.customer_full_name, customers_anagrafica_path(item.customer_id)
        %td= item.product_name
        %td= link_to item.product_id, data_analysis_prodotto_path(item.product_id)
        %td= item.beneficiary
        %td= item.product_base_risk
        %td= item.recursion_all_7
        %td= item.recursion_all_30
        %td= item.amount
        %td= item.destination_lonlat
        %td= item.origin_country
        %td= item.destination_country
        %td.text-center{data: {orderable: "false"}}
          = link_to [:data_analysis, item], class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
