%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_eval_movements', data: {order: '[[2, "desc"]]'}}
  %thead
    %tr
      %th= EvalMovement.human_attribute_name(:id)
      %th= EvalMovement.human_attribute_name(:service_id)
      %th= EvalMovement.human_attribute_name(:movement_created_at)
      %th= EvalMovement.human_attribute_name(:customer_full_name)
      %th= EvalMovement.human_attribute_name(:product_name)
      %th= EvalMovement.human_attribute_name(:product_id)
      %th= EvalMovement.human_attribute_name(:beneficiary)
      %th= EvalMovement.human_attribute_name(:product_base_risk)
      %th= EvalMovement.human_attribute_name(:recursion)
      %th= EvalMovement.human_attribute_name(:amount)
      %th= EvalMovement.human_attribute_name(:destination_lonlat)
      %th.action
  %tbody
    - eval_movements.each do |item|
      %tr
        %td= item.id
        %td= item.service_id
        %td= item.movement_created_at
        %td= item.customer_full_name
        %td= item.product_name
        %td= link_to item.product_id, data_analysis_prodotto_path(item.product_id)
        %td= item.beneficiary
        %td= item.product_base_risk
        %td= item.recursion
        %td= item.amount
        %td= item.destination_lonlat
        %td.text-center
          = link_to [:data_analysis, item], class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
