.card.card-primary.card-outline{classes: "#{ 'collapsed-card' unless params[:filter]}" }
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:filters, default: 'Filters')
    .card-tools
      %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
        %i.fas{class: " #{ params[:filter] ? 'fa-minus' : 'fa-plus'}" }
  .card-body
    = simple_form_for :filter, method: :get, remote: false do |f|
      .row
        .col-md-3
          = f.input :in_out, as: :select, collection: %w[IN OUT], required: false, input_html: {class: "select2"}, selected: "#{params[:filter][:in_out] if params[:filter]}", include_blank: true
        .col-md-3= f.input :daterange, label: 'Date range', input_html: { class: 'local-daterange' }, required: false
      .row
        .col-md-3= f.input :service_id, label: 'Service ID', required: false, input_html: {value: "#{params[:filter][:service_id] if params[:filter]}"}
        .col-md-3= f.input :customer_id, label: "Customer ID", required: false, input_html: {value: "#{params[:filter][:customer_id] if params[:filter]}"}
        .col-md-3= f.input :technical_movement_id, label: "Technical Movement ID", required: false, input_html: {value: "#{params[:filter][:technical_movement_id] if params[:filter]}"}
        .col-md-3= f.input :validation_movement_id, label: "Validtion Movement ID", required: false, input_html: {value: "#{params[:filter][:validation_movement_id] if params[:filter]}"}
      .row
        .col-md-3= f.input :ordinante, label: 'Ordinante (partial)', required: false, input_html: {value: "#{params[:filter][:ordinante] if params[:filter]}"}
        .col-md-3= f.input :iban, label: 'Iban', required: false, input_html: {value: "#{params[:filter][:iban] if params[:filter]}"}
 
      = f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success'

:javascript
  document.addEventListener("turbolinks:load", () => {
    $(".local-daterange").daterangepicker({
      startDate: moment("#{@daterange.split(' - ')[0]}",'DD/MM/YYYY'),
      endDate: moment("#{@daterange.split(' - ')[1]}",'DD/MM/YYYY'),
      maxDate: moment(),
      locale: { format: 'DD/MM/YYYY'},
    })
  })
