.card.card-success
  .card-header
    %h3.card-title
      %i.fa.fa-exchange-alt
      #{Mandato.model_name.human} #{mandato.id}
    .spacer
  .card-body
    %table.table.table-striped.table-bordered.table-hover
      %tr
        %th= Mandato.human_attribute_name(:IdMandato)
        %td= mandato.IdMandato
      %tr
        %th= Mandato.human_attribute_name(:Data)
        %td= mandato.Data
      %tr
        %th= Mandato.human_attribute_name(:Tipo)
        %td= mandato.Tipo
      %tr
        %th= Mandato.human_attribute_name(:Importo)
        %td= mandato.Importo
      %tr
        %th= Mandato.human_attribute_name(:Beneficiario)
        %td= link_to mandato.bank_user, customers_anagrafica_path(mandato.Beneficiario) unless mandato.Beneficiario === 0
      %tr
        %th= Mandato.human_attribute_name(:ContoBeneficiario)
        %td= link_to mandato.ContoBeneficiario, data_analysis_conto_path(mandato.ContoBeneficiario) unless mandato.ContoBeneficiario.strip.to_i === 0
      %tr
        %th= Mandato.human_attribute_name(:Ordinante)
        %td= ordinante_proc mandato
      %tr
        %th= Mandato.human_attribute_name(:ContoRiferimento)
        %td= link_to mandato.ContoRiferimento, data_analysis_conto_path(mandato.ContoRiferimento) unless mandato.ContoRiferimento.strip.to_i === 0
      %tr
        %th= Mandato.human_attribute_name(:Note)
        %td= mandato.Note
      %tr
        %th= Mandato.human_attribute_name(:Stato)
        %td= mandato.Stato
      %tr
        %th= Mandato.human_attribute_name(:Operatore)
        %td= mandato.Operatore
      %tr
        %th= Mandato.human_attribute_name(:IdMovimentoValidazione)
        %td= link_to mandato.IdMovimentoValidazione, data_analysis_movimentoconto_path(mandato.IdMovimentoValidazione)
      %tr
        %th= Mandato.human_attribute_name(:IdMovimentoTecnico)
        %td= link_to mandato.IdMovimentoTecnico, data_analysis_movimentoconto_path(mandato.IdMovimentoTecnico)
      %tr
        %th= Mandato.human_attribute_name(:Intestatario)
        %td= mandato.Intestatario
      %tr
        %th= Mandato.human_attribute_name(:Passivi)
        %td= mandato.Passivi
      %tr
        %th= Mandato.human_attribute_name(:Blocco)
        %td= mandato.Blocco
      %tr
        %th= Mandato.human_attribute_name(:Iban)
        %td= link_to mandato.Iban, data_analysis_iban_path(mandato.Iban) if mandato.Iban
        

