<%- opts = {filter: {customer_id: @anagrafica.id}} %>
<li class="nav-item <%= ' menu-open menu-is-opening' if @module_name === 'Customers' %> mb-2" style="background-color: rgba(255,255,255,.05);;">
  <a href="<%= customers_anagrafica_path(customer.id) %>" class="nav-link">
    <i class="nav-icon fa fa-user"></i>
    <p>
      <%= customer.full_name %>
      <i class="right fas <%= @module_name === 'Customers' && customer ? 'fa-angle-down' : 'fa-angle-left' %>"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="<%= customers_anagrafica_path(customer) %>" class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'anagrafiche' %>">
        <i class="nav-icon fas fa-users"></i>
        <p>
          Show
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= customers_anagrafica_customer_settings_path(customer) %>" class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'customer_settings' %>">
        <i class="nav-icon fa fa-wrench"></i>
        <p>
          <%= CustomerSetting.model_name.human(:count => 2) %>
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= customers_anagrafica_notes_path(customer) %>"
        class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'notes' %>">
        <i class="nav-icon fa fa-<%= Note.icon %>"></i>
        <p>
          <%= Note.model_name.human(:count=> 2) %>
        </p>
      </a>
    </li>

    <li class="nav-item">
      <a href="<%= data_analysis_evaluated_movements_path(params: opts) %>" class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'risk_movements' %>">
        <i class="nav-icon fa fa-<%= EvaluatedMovement.icon %>"></i>
        <p>
          <%= EvaluatedMovement.model_name.human(:count => 2) %>
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= customers_anagrafica_prodotti_path(customer) %>" class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'prodotti' %>">
        <i class="nav-icon fa fa-box"></i>
        <p>
          <%= Prodotto.model_name.human(:count => 2) %>
        </p>
      </a>
    </li>
    <li class="nav-item">
      <a href="<%= customers_anagrafica_customer_evaluations_path(customer) %>" class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'customer_evaluations' %>">
        <i class="nav-icon fa fa-<%= CustomerEvaluation.icon %>"></i>
        <p>
          <%= CustomerEvaluation.model_name.human(:count => 2) %>
        </p>
      </a>
    </li>
  </ul>
</li>
