<%- if current_user.has_role?('superadmin') %>
  <%- ary = %w(roles users list_types sync configurables excluded_products customer_categories algorithm_calculators conditional_vars algorithms) %>
  <li class="nav-item <%= ' menu-open menu-is-opening' if ary.include?(controller_name)%>" style="background-color: rgba(255,255,255,.05);;">
    <a href="#" class="nav-link">
      <i class="nav-icon fa fa-cogs"></i>
      <p>
        <%= t(:settings, default: "Settings") %>
        <i class="right fas <%= ary.include?(controller_name) ? 'fa-angle-down' : 'fa-angle-left' %>"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="http://192.168.0.26:8081" class="nav-link" target="_blank">
          <i class="nav-icon fas fa-database"></i>
          <p>PhpMyAdmin</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="http://192.168.0.26:8083" class="nav-link" target="_blank">
          <i class="nav-icon fas fa-database"></i>
          <p>PgAdmin</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= users_path %>" class="nav-link <%= ' active' if controller_name == 'users' %>">
          <i class="nav-icon fas fa-users"></i>
          <p>
            <%= User.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= roles_path %>" class="nav-link <%= ' active' if controller_name == 'roles' %>">
          <i class="nav-icon fas fa-key"></i>
          <p>
            <%= Role.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= excluded_products_path %>" class="nav-link <%= ' active' if controller_name == 'excluded_products' %>">
          <i class="nav-icon fas fa-store-alt-slash"></i>
          <p>
            <%= ExcludedProduct.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= sidekiq_web_path %>" class="nav-link">
          <i class="nav-icon fas fa-clock"></i>
          <p>
            <%= t(:async_processor, default: "Async Processor") %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= config_algorithms_path %>"
          class="nav-link <%= ' active' if controller_name == 'algorithms' %>">
          <i class="nav-icon fas fa-<%= Algorithm.icon %>"></i>
          <p>
            <%= Algorithm.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= config_algorithm_calculators_path %>" class="nav-link <%= ' active' if controller_name == 'algorithm_calculators' %>">
          <i class="nav-icon fas fa-<%= AlgorithmCalculator.icon %>"></i>
          <p>
            <%= AlgorithmCalculator.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= config_conditional_vars_path %>"
          class="nav-link <%= ' active' if controller_name == 'conditional_vars' %>">
          <i class="nav-icon fas fa-<%= ConditionalVar.icon %>"></i>
          <p>
            <%= ConditionalVar.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= config_customer_categories_path %>"
          class="nav-link <%= ' active' if controller_name == 'customer_categories' %>">
          <i class="nav-icon fas fa-<%= CustomerCategory.icon %>"></i>
          <p>
            <%= CustomerCategory.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= configurables_path %>" class="nav-link<%= ' active' if controller_name == 'Configurables' %>">
          <i class="nav-icon fas fa-wrench"></i>
          <p>
            <%= Configurable.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
    </ul>
  </li>
<%- end %>