<%- if current_user.has_role?('admin') %>
  <li class="nav-item <%= ' menu-open menu-is-opening' if %w(roles users list_types sync configurables excluded_products setup).include?(controller_name)%>">
    <a href="#" class="nav-link">
      <i class="nav-icon fa fa-cogs"></i>
      <p>
        <%= t(:settings, default: "Settings") %>
        <i class="right fas <%= %w(roles users list_types sync configurables excluded_products setup).include?(controller_name) ? 'fa-angle-down' : 'fa-angle-left' %>"></i>
      </p>
    </a>
    <ul class="nav nav-treeview">
      <li class="nav-item">
        <a href="http://192.168.0.26:8081" class="nav-link" target="_blank">
          <i class="nav-icon fas fa-database"></i>
          <p>PhpMyAdmin</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="http://192.168.0.26:8083" class="nav-link" target="_blank">
          <i class="nav-icon fas fa-database"></i>
          <p>PgAdmin</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= users_path %>" class="nav-link <%= ' active' if controller_name == 'users' %>">
          <i class="nav-icon fas fa-users"></i>
          <p>
            <%= User.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= data_analysis_sync_index_path %>" class="nav-link <%= ' active' if controller_name == 'sync' %>">
          <i class="nav-icon fas fa-stopwatch"></i>
          <p>
            <%= t(:sync, default: "Sync") %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= roles_path %>" class="nav-link <%= ' active' if controller_name == 'roles' %>">
          <i class="nav-icon fas fa-key"></i>
          <p>
            <%= Role.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= excluded_products_path %>" class="nav-link <%= ' active' if controller_name == 'excluded_products' %>">
          <i class="nav-icon fas fa-store-alt-slash"></i>
          <p>
            <%= ExcludedProduct.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= data_analysis_time_lapse_factors_path %>" class="nav-link">
          <i class="nav-icon fas fa-clock"></i>
          <p>
            <%= TimeLapseFactor.model_name.human(count: 2) %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= sidekiq_web_path %>" class="nav-link">
          <i class="nav-icon fas fa-clock"></i>
          <p>
            <%= t(:async_processor, default: "Async Processor") %>
          </p>
        </a>
      </li>
      <li class="nav-item">
        <a href="<%= data_analysis_setup_index_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'setup' %>">
          <i class="nav-icon fas fa-wrench"></i>
          <p>
            <%= t(:setup_params, default: "Setup params") %>
          </p>
        </a>
      </li>
    </ul>
  </li>
<%- end %>