  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="<%= root_path %>" class="brand-link">
      <span class="brand-text font-weight-light">eDataAnalysis 2.0</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <%- if can? :admin, :dashboard %>
            <li class="nav-item">
              <a href="<%= data_analysis_dashboard_index_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'dashboard' %>">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= compliance_check_sanction_lists_path %>" class="nav-link<%= ' active' if @module_name === 'ComplianceCheck' && controller_name == 'sanction_lists' %>">
                <i class="nav-icon fas fa-user-check"></i>
                <p>
                  <%= SanctionList.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_related_countries_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'related_countries' %>">
                <i class="nav-icon fas fa-globe"></i>
                <p>
                  Countries
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_eval_movements_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'eval_movements' %>">
                <i class="nav-icon fas fa-exchange-alt"></i>
                <p>
                  <%= EvalMovement.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_recursions_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'recursions' %>">
                <i class="nav-icon fas fa-exchange-alt"></i>
                <p>
                  <%= t(:recursions, default: 'Recursions') %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_movimenticonti_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'movimenticonti' %>">
                <i class="nav-icon fas fa-exchange-alt"></i>
                <p>
                  <%= Movimentoconto.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_servizi_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'servizi' %>">
                <i class="nav-icon fas fa-microchip"></i>
                <p>
                  <%= Servizio.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_prodotti_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'prodotti' %>">
                <i class="nav-icon fas fa-store-alt"></i>
                <p>
                  <%= Prodotto.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_maps_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'maps' %>">
                <i class="nav-icon fas fa-map-marked-alt"></i>
                <p>
                  <%= t(:maps, default: 'Maps') %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= data_analysis_places_path %>" class="nav-link<%= ' active' if @module_name === 'DataAnalysis' && controller_name == 'places' %>">
                <i class="nav-icon fas fa-map-marker-alt"></i>
                <p>
                  <%= Place.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="<%= brokers_vendors_path %>" class="nav-link<%= ' active' if @module_name === 'Brokers' && controller_name == 'vendors' %>">
                <i class="nav-icon fas fa-money-check"></i>
                <p>
                  <%= Vendor.model_name.human(count: 2) %>
                </p>
              </a>
            </li>
          <%- end %>
          <li class="nav-item">
            <a href="<%= customers_anagrafiche_path %>" class="nav-link <%= ' active' if @module_name === 'Customers' && controller_name == 'anagrafiche' %>">
              <i class="nav-icon fas fa-users"></i>
              <p>
                <%= Anagrafica.model_name.human(count: 2) %>
              </p>
            </a>
          </li>
          <%= render 'base/customer_menu', customer: @anagrafica if @module_name === 'Customers' && @anagrafica %>
          <%= render 'base/menu_admin' %>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, :method=>'delete', class: 'nav-link' do %>
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>Logout</p>
            <%- end %>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
