%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table'}
  %thead
    %tr
      %th= Place.human_attribute_name(:id)
      %th= Place.human_attribute_name(:positionable)
      %th= Place.human_attribute_name(:latitude)
      %th= Place.human_attribute_name(:longitude)
      %th= Place.human_attribute_name(:address)
      %th.action
  %tbody
    - places.each do |item|
      %tr
        %td= item.id
        %td= item.positionable
        %td= item.latitude
        %td= item.longitude
        %td= item.address
        %td.text-center
          = link_to [:data_analysis, item], class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
