- content_for :javascript_in_head do
  = javascript_pack_tag 'plugins/datatables', 'data-turbolinks-track': 'reload'

%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_prodotti'}
  %thead
    %tr
      %th= Prodotto.human_attribute_name(:idprodotto)
      %th= Prodotto.human_attribute_name(:nome)
      %th= Prodotto.human_attribute_name(:codtabella)
      %th= Prodotto.human_attribute_name(:nometabella)
      %th= Prodotto.human_attribute_name(:base_risk)
      %th= t(:number_of_operations, default: 'Nr Service')
      %th.action
  %tbody
    - prodotti.each do |item|
      %tr
        %td= item.idprodotto
        %td= item.nome
        %td= item.codtabella
        %td= item.nometabella
        %td= item.base_risk
        %td= @tp[item.idprodotto]
        %td.text-center
          = link_to customers_anagrafica_prodotto_path(@anagrafica, item), class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
:javascript
  document.addEventListener("turbolinks:load", () => {
    $('#table_prodotti').DataTable({
      "paging": false,
      "info": false,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "colvis"]
    }).buttons().container().appendTo('#table_servizi_wrapper .col-md-6:eq(0)');
  })