.card.card-success.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-money-check
      #{vendor.ragionesociale}
  .card-body
    %dl.row
      %dt.col-md-4.text-right= Vendor.human_attribute_name(:id)
      %dd.col-md-8= vendor.id
      %dt.col-md-4.text-right= Vendor.human_attribute_name(:Listino)
      %dd.col-md-8= vendor.Listino
      %dt.col-md-4.text-right= Vendor.human_attribute_name(:ragionesociale)
      %dd.col-md-8= vendor.ragionesociale
