%table.table.table-striped.table-bordered.table-hover.margin-none.data-table{data: {order: [['2', 'asc']]}}
  %thead
    %tr
      %th= ConditionItem.human_attribute_name(:field_operator)
      %th= ConditionItem.human_attribute_name(:field_value)
      %th= ConditionItem.human_attribute_name(:eq)
      %th= ConditionItem.human_attribute_name(:value)
      %th= ConditionItem.human_attribute_name(:result_count)
  %tbody
    - condition_items.each do |item|
      %tr
        %td= item.field_operator
        %td= item.field_value
        %td= item.eq
        %td= item.value
        %td
          %a{href: "javascript:void(0)", data: {toggle: "popover", title: "SQL", content: "#{item.query_result.to_sql}"}}=item.query_result.count
