.card.card-outline.card-primary
  .card-header
    .card-title
      = fa_icon Conto.icon
      = link_to Conto.model_name.human(count: 2), customers_anagrafica_conti_path(customer)
  .card-body.p-0
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr.text-center
          %th= Conto.human_attribute_name(:Pan)
          %th= Conto.human_attribute_name(:Saldo)
          %th= Conto.human_attribute_name(:average_stock)
          %th= "#{Conto.human_attribute_name(:max_amount)} (IN/OUT)"
          %th= "#{Conto.human_attribute_name(:average_movement_amount)} (IN/OUT)"
      %tbody
        - customer.conti.alive.each do |item|
          %tr.text-center
            %td= link_to item.Pan, customers_anagrafica_conto_path(customer, item.Pan)
            %td= humanized_money_with_symbol item.Saldo
            %td{id: "average-#{item.id}"}= link_to_function 'load', "getAccountInfo('#{customer.id}', 'average-#{item.id}')"
            %td{id: "max_amount-#{item.id}"}= link_to_function 'load', "getAccountInfo('#{customer.id}', 'max_amount-#{item.id}')"
            %td{id: "average_amount-#{item.id}"}= link_to_function 'load', "getAccountInfo('#{customer.id}', 'average_amount-#{item.id}')"
  