.card.card-outline.card-primary
  .card-header
    .card-title
      = fa_icon RelazioniAnagrafica.icon
      Ubos
  .card-body.p-0
    = render 'customers/anagrafiche/relations', relations: anagrafica.relations.ubos
.card.card-outline.card-primary
  .card-header
    .card-title
      = fa_icon RelazioniAnagrafica.icon
      Directors
  .card-body.p-0
    = render 'customers/anagrafiche/relations', relations: anagrafica.relations.directors
.card.card-outline.card-primary
  .card-header
    .card-title
      = fa_icon RelazioniAnagrafica.icon
      Owners
  .card-body.p-0
    = render 'customers/anagrafiche/relations', relations: anagrafica.relations.owners


