.card.card-primary.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:filters, default: 'Filters')
    .card-tools
      %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
        %i.fas{class: " #{ params[:filter] ? 'fa-minus' : 'fa-plus'}" }
  .card-body
    = simple_form_for :filter, method: :get, remote: false do |f|
      .form-row
        .col-md-3= f.input :customer_id, label: 'Cusomer ID', required: false, input_html: {value: "#{params[:filter][:customer_id] if params[:filter]}"}
        .col-md-3= f.input :full_name, required: false, input_html: {value: "#{params[:filter][:full_name] if params[:filter]}"}
        .col-md-3= f.input :vendor, required: false, input_html: {value: "#{params[:filter][:vendor] if params[:filter]}"}
        .col-md-3= f.input :fiscal_code, required: false, input_html: {value: "#{params[:filter][:fiscal_code] if params[:filter]}"}
      .form-row
        .col-md-3= f.input :status, as: :select, collection: Stato.all, required: false, input_html: {value: "#{params[:filter][:status] if params[:status]}"}
        .col-md-3= f.input :min_base_risk, required: false, input_html: {value: "#{params[:filter][:min_base_risk] if params[:filter]}"}
        .col-md-3= f.input :max_base_risk, required: false, input_html: {value: "#{params[:filter][:max_base_risk] if params[:filter]}"}
        .col-md-3
          = f.input :year_and_min_evaluated_risk, input_html: {value: "#{params[:filter][:year_and_min_evaluated_risk] if params[:filter]}"}, required: false, hint: "Es: 2021 - 16.0"
          
      = f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success'
