.card.card-info.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-user
      = anagrafica.full_name
  .card-body
    %dl.row
      %dt.col-8= Anagrafica.human_attribute_name(:attention_level_base)
      %dd.col-4.text-right= anagrafica.base_risk.to_f
      %dt.col-8= Anagrafica.human_attribute_name(:days_of_activity)
      %dd.col-4.text-right= anagrafica.days_of_activity(current_tuple)
      - if GruppiAnagrafica.where("codice_fiscale like ?", anagrafica.codice_fiscale).count >= 1
        %dt.col-8= Anagrafica.human_attribute_name(:group)
        %dd.col-4.text-right= link_to Anagrafica.human_attribute_name(:group), [:customers, Anagrafica, filter: {fiscal_code: "#{anagrafica.codice_fiscale}"}], class: "btn btn-warning btn-xs", data:{toggle: "tooltip"}, title: Anagrafica.human_attribute_name(:group)


