.card.card-outline.card-primary
  .card-body.p-0
    #mapid{ style: "height: 500px;" }
:javascript
  var map = L.map('mapid', {
    center: [#{anagrafica.current_place.latitude}, #{anagrafica.current_place.longitude}],
    zoom: 6
  });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  }).addTo(map);
  L.marker([#{anagrafica.current_place.latitude}, #{anagrafica.current_place.longitude}]).addTo(map)
    .bindPopup('#{obfuscator(anagrafica.full_name)}.<br> #{anagrafica.TelefonoAzienda}')
    .openPopup();