- data = anagrafica.to_map
.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-map-marker-alt
      #{Anagrafica.model_name.human} #{anagrafica.full_name}

  .card-body
    #mapid{ style: "height: 380px;" }
:javascript
  var map = L.map('mapid', {
    center: [#{data[:latitude]}, #{data[:longitude]}],
    zoom: 6
  });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  }).addTo(map);
  L.marker([#{data[:latitude]}, #{data[:longitude]}]).addTo(map)
    .bindPopup('#{anagrafica.full_name}.<br> #{anagrafica.TelefonoAzienda}')
    .openPopup();