%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th= RelazioniAnagrafica.human_attribute_name(:profile)
      %th= RelazioniAnagrafica.human_attribute_name(:type)
      - unless relations.first.try(:idTipoRelazione) == 2
        %th= RelazioniAnagrafica.human_attribute_name(:percentualeubo)
      %th
  %tbody
    - relations.each do |item|
      %tr
        %td= link_to item.owner, [:customers, item.owner] 
        %td= item.tipo_relazione
        - unless item.idTipoRelazione == 2
          %td= item.percentualeubo
        %td.text-center
          = link_to fa_icon('eye'), [:data_analysis, item], class: "btn btn-xs btn-primary"
 
