.card.card-danger.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-exclamation-triangle
      Risk Assesstment
  .card-body
    %dl.row
      %dt.col-8= Anagrafica.human_attribute_name(:risk_base)
      %dd.col-4.text-right= anagrafica.base_risk.to_f
      %dt.col-8= Anagrafica.human_attribute_name(:days_of_activity)
      %dd.col-4.text-right= anagrafica.days_of_activity(current_tuple)
      %dt.col-8= Anagrafica.human_attribute_name(:risk_base_previous_month)
      %dd.col-4.text-right= anagrafica.risk_base(current_tuple)
      %dt.col-8= Anagrafica.human_attribute_name(:current_tuple)
      %dd.col-4.text-right= current_tuple
      %dt.col-8= Anagrafica.human_attribute_name(:eval_score)
      %dd.col-4.text-right= anagrafica.eval_score(current_tuple)
      - if can? :manage, Anagrafica
        %dt#dt-time_lapse_factor.col-8= Anagrafica.human_attribute_name(:time_lapse_factor)
        %dd#dd-time_lapse_factor.col-4.text-right
          = anagrafica.time_lapse_factor.time_lapse_factor
          = link_to fa_icon('edit'), edit_data_analysis_time_lapse_factor_path(anagrafica.time_lapse_factor), remote: true

          - if anagrafica.time_lapse_factor.time_lapse_factor_audits.any?
            = link_to fa_icon('history'), customers_anagrafica_time_lapse_factor_time_lapse_factor_audits_path(anagrafica, anagrafica.time_lapse_factor)
      - if GruppiAnagrafica.where("codice_fiscale like ?", anagrafica.codice_fiscale).count >= 1
        %dt.col-8= Anagrafica.human_attribute_name(:group)
        %dd.col-4.text-right= link_to Anagrafica.human_attribute_name(:group), [:customers, Anagrafica, f: "#{anagrafica.codice_fiscale}"], class: "btn btn-warning btn-xs", data:{toggle: "tooltip"}, title: Anagrafica.human_attribute_name(:group)


