.card.card-success.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-calendar
      = t(:year, default: "Year")
  .card-body.p-0
    %table.table.table-striped.table-hover
      %tbody
        - years = customer.servizi.select( "DATE_FORMAT(lastupdate , '%Y') AS year").distinct
        - years.each do |year|
          %tr
            %td= year.year
            %td.text-right{data: {orderable: "false"}}
              - opts = {filter: {customer_id: @anagrafica.id, daterange: year_to_daterange(year.year)}}
              = link_to fa_icon('exchange-alt'), data_analysis_movimenticonti_path(params: opts), class: "btn btn-xs btn-success"
              = link_to fa_icon('microchip'), data_analysis_servizi_path(params: opts), class: "btn btn-xs btn-success"
              = link_to fa_icon('search-dollar'), data_analysis_evaluated_movements_path(params: opts), class: "btn btn-xs btn-success"
              = link_to fa_icon('file-excel'), reports_data_analysis_servizi_path(params: opts), class: "btn btn-xs btn-success"
              =# render 'form_report', daterange: daterange

