%table.table.table-striped.table-bordered.table-hover.data-table
  %thead
    %tr
      %th= Anagrafica.human_attribute_name(:id)
      %th= Anagrafica.human_attribute_name(:full_name)
      %th= Anagrafica.human_attribute_name(:stato)
      %th= Anagrafica.human_attribute_name(:vendor)
      %th= Anagrafica.human_attribute_name(:base_risk)
      %th= Anagrafica.human_attribute_name(:current_attention_factor7)
      %th= Anagrafica.human_attribute_name(:created)
      %th= Anagrafica.human_attribute_name(:DataLastUpdate)
      %th{data: {orderable: "false"}, nowrap: true}
  %tbody
    - anagrafiche.each do |item|
      %tr
        %td= obfuscator item.id
        %td= obfuscator(item.full_name)
        %td= item.Attivo
        %td= item.vendor
        %td= item.base_risk
        %td= item.current_attention_factor7
        %td=l item.created
        %td= item.DataLastUpdate
        
        %td.text-center{nowrap: true}
          = link_to fa_icon('eye'), customers_anagrafica_path(item), class: "btn btn-xs btn-primary"
          = link_to fa_icon(Conto.icon), data_analysis_conti_path(params: {filter: {customer_id: item.id}}), class: "btn btn-xs btn-info"
          = link_to fa_icon(Movimentoconto.icon), data_analysis_movimenticonti_path(params: {filter: {customer_id: item.id}}), class: "btn btn-xs btn-success"
          = link_to fa_icon(Servizio.icon), data_analysis_servizi_path(params: {filter: {customer_id: item.id}}), class: "btn btn-xs btn-warning"
          = link_to fa_icon(Prodotto.icon), customers_anagrafica_prodotti_path(item), class: "btn btn-xs bg-lightblue"
          = link_to fa_icon(EvaluatedMovement.icon), customers_anagrafica_evaluated_movements_path(item), class: "btn btn-xs bg-maroon"
