%table.table.table-striped.table-bordered.table-hover.data-table
  %thead
    %tr
      %th= Anagrafica.human_attribute_name(:id)
      %th= Anagrafica.human_attribute_name(:full_name)
      %th= Anagrafica.human_attribute_name(:vendor)
      %th= Anagrafica.human_attribute_name(:base_risk)
      %th= Anagrafica.human_attribute_name(:base_risk_calc)
      %th= Anagrafica.human_attribute_name(:created)
      %th= Anagrafica.human_attribute_name(:DataLastUpdate)
      %th.action
  %tbody
    - anagrafiche.each do |item|
      %tr
        %td= item.id
        %td= item.full_name
        %td= item.vendor
        %td= item.base_risk
        %td= item.base_risk_calc
        %td= item.created
        %td= item.DataLastUpdate
        
        %td.text-center
          = link_to fa_icon('eye'), customers_anagrafica_path(item), class: "btn btn-xs btn-primary"
          = link_to fa_icon('wallet'), data_analysis_conti_path(params: {filter: {customer_id: item.id}}), class: "btn btn-xs btn-info"
          = link_to fa_icon('exchange-alt'), data_analysis_movimenticonti_path(params: {filter: {customer_id: item.id}}), class: "btn btn-xs btn-success"
          = link_to fa_icon('microchip'), data_analysis_servizi_path(params: {filter: {customer_id: item.id}}), class: "btn btn-xs btn-warning"
          = link_to fa_icon('exclamation-triangle'), customers_anagrafica_risk_movements_path(item), class: "btn btn-xs btn-danger"
          = link_to fa_icon('box'), customers_anagrafica_prodotti_path(item), class: "btn btn-xs bg-lightblue"
          = link_to fa_icon('calendar'), customers_anagrafica_eval_riskinesses_path(item), class: "btn btn-xs bg-maroon"
