%table.table.table-striped.table-bordered.table-hover.data-table
  %thead
    %tr
      %th= Anagrafica.human_attribute_name(:id)
      %th= Anagrafica.human_attribute_name(:full_name)
      %th= Anagrafica.human_attribute_name(:vendor)
      %th= Anagrafica.human_attribute_name(:created)
      %th.action
  %tbody
    - anagrafiche.each do |item|
      %tr
        %td= item.id
        %td= item.full_name
        %td= item.vendor
        %td= item.created
        %td.text-center
          = link_to customers_anagrafica_path(item), class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
          = link_to customers_anagrafica_movimenticonti_path(item), class: "btn btn-xs btn-success" do
            %i.fa.fa-exchange-alt
          = link_to customers_anagrafica_servizi_path(item), class: "btn btn-xs btn-warning" do
            %i.fa.fa-microchip
          = link_to customers_anagrafica_risk_movements_path(item), class: "btn btn-xs btn-danger" do
            %i.fa.fa-exclamation-triangle
          = link_to customers_anagrafica_prodotti_path(item), class: "btn btn-xs bg-lightblue" do
            %i.fa.fa-box
          = link_to customers_anagrafica_eval_riskinesses_path(item), class: "btn btn-xs bg-maroon" do
            %i.fa.fa-calendar
