.form-row 
  .col-md-4
    = render "info", current_tuple: @current_tuple, customer: @anagrafica
    #note
      - if @anagrafica.notes.any?
        = render 'customers/notes/note', note: @anagrafica.notes.last
      - else
        .card
          .card-body
            = link_to(t(:add_resource, resource: Note.model_name.human), [:new, :customers, @anagrafica, :note], class: "btn btn-success btn-sm btn-block") if can? :create, Note
    = render "table_years", customer: @anagrafica
    = render "products_chart", customer: @anagrafica
    = render "map", anagrafica: @anagrafica
  .col-md-8
    - opts = {filter: {customer_id: @anagrafica.id, daterange: "#{(Date.today - 1.year).strftime("%d/%m/%Y")} - #{(Date.today).strftime("%d/%m/%Y")}", in_out: 'ALL'}}
    .form-row
      .col-md-8= render "data_analysis/charts/evaluated_movements", opts: opts
      .col-md-4= render "data_analysis/charts/benfords_law", opts: opts
    = render "customers/charts/latest_customer_evaluations", customer: @anagrafica
    = render "conti", customer: @anagrafica
    = render "customers/anagrafiche/ibans", ibans: @anagrafica.ibans.page(params[:page_ibans]).per(5)
    = render "anagrafica", anagrafica: @anagrafica
    = render "corporate_structure", anagrafica: @anagrafica if @anagrafica.IdTipo == 3
    = render "answers", answers: @anagrafica.aml_cronologia_questionario.answers