.row 
  .col-md-4
    = render "info", current_tuple: @current_tuple, customer: @anagrafica
    = render "table_years", customer: @anagrafica
    = render "products_chart", customer: @anagrafica
    = render "map", anagrafica: @anagrafica
  .col-md-8
    = render "evaluated_movements_chart", customer: @anagrafica
    = render "eval_customers_chart", customer: @anagrafica
    = render "conti", customer: @anagrafica
    = render "anagrafica", anagrafica: @anagrafica
