.row
  .col-md-8
    .card.card-danger
      .card-header
        %h3.card-title
          %i.fa.fa-chart-bar
          = t(:listing_resource, resource: RiskMovement.model_name.human(:count => 2))
      .card-body
        = line_chart all_risk_movements_data_analysis_charts_path, remote: true
  .col-md-4
    .card.card-primary
      .card-header
        %h3.card-title
          %i.fa.fa-search
          = t(:filters, default: "Filters")
      .card-body
        = simple_form_for :filter, method: :get, remote: true do |f|
          = f.input :q, label: Anagrafica.human_attribute_name(:full_name), required: false, input_html: {value: @current_full_name}
          = f.input :tipo, label: Anagrafica.human_attribute_name(:tipo), as: :select, collection: Tipo.alive.collect {|tipo| [ tipo.name, tipo.id ] }, required: false, input_html: {value: @current_type}
          = f.submit "#{t(:search)}", class: "btn btn-primary"

#eval_riskinesses_items.row= render "data_analysis/eval_riskinesses/eval_riskinesses"
