- month = Date.new(customer_evaluation.eval_year, customer_evaluation.eval_month, 1)
- daterange = "#{month.strftime("%d/%m/%Y")} - #{month.at_end_of_month.strftime("%d/%m/%Y")}"
.card.card-outline.card-info
  .card-header
    .card-title
      Info
  .card-body
    %dl.row
      %dt.col-md-4.text-right= CustomerEvaluation.human_attribute_name(:evaluated_movements)
      %dd.col-md-8
        - if customer_evaluation.nr_movements.to_i > 0
          - opts = {group_by_day: 1, filter: {customer_id: @anagrafica.id, daterange: daterange}}
          = link_to customers_anagrafica_evaluated_movements_path(@anagrafica, params: opts), class: "btn btn-xs btn-info", title: 'Open popup' do
            = fa_icon EvaluatedMovement.icon
            Show #{customer_evaluation.nr_movements} evaluated movements
        - else 
          0
      %dt.col-md-4.text-right= CustomerEvaluation.human_attribute_name(:movements)
      %dd.col-md-8
        - movements = @anagrafica.movimenticonti.filter_by_daterange(daterange)
        - if movements.count > 0
          - opts = {group_by_day: 1, filter: {customer_id: @anagrafica.id, daterange: "#{month.strftime("%d/%m/%Y")} - #{month.at_end_of_month.strftime("%d/%m/%Y")}"}}
          = link_to data_analysis_movimenticonti_path(params: opts), class: "btn btn-xs btn-info", title: 'Open popup' do
            = fa_icon EvaluatedMovement.icon
            Show #{movements.count} movements
        - else 
          0
