%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_servizi'}
  %thead
    %tr
      %th= Servizio.human_attribute_name(:servizio)
      %th= Servizio.human_attribute_name(:point)
      %th= Servizio.human_attribute_name(:importo)
      %th= Servizio.human_attribute_name(:commissioni)
      %th= Servizio.human_attribute_name(:nomeprodotto)
      %th= Servizio.human_attribute_name(:vendor)
      %th= Servizio.human_attribute_name(:datainserimento)
      %th.action
  %tbody
    - servizi.each do |item|
      %tr
        %td= item.idservizio
        %td= @anagrafica.full_name
        %td= item.importo
        %td= item.commissioni
        %td= item.nomeprodotto
        %td= item.vendor
        %td= item.datainserimento
        - if can? :manage, Servizio
          %td.text-center
            = link_to customers_anagrafica_servizio_path(@anagrafica,item), class: "btn btn-xs btn-primary" do
              %i.fa.fa-eye
