%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= Notification.human_attribute_name(:id)
    %td= notification.id
  %tr
    %th= Notification.human_attribute_name(:type)
    %td= notification.type
  %tr
    %th= Notification.human_attribute_name(:created_at)
    %td= notification.created_at
  %tr
    %th= Notification.human_attribute_name(:read_at)
    %td= notification.read_at
