%table.table.table-striped.table-bordered.table-hover.margin-none.data-table
  %thead
    %tr
      %th= Notification.human_attribute_name(:id)
      %th= Notification.human_attribute_name(:type)
      %th= Notification.human_attribute_name(:read_at)
      %th= Notification.human_attribute_name(:created_at)
      %th= Notification.human_attribute_name(:params)
      %th{data: {orderable: "false"}}
  %tbody
    - notifications.each do |notification|
      %tr
        %td= notification.id
        %td= notification.type
        %td= notification.read_at
        %td= notification.created_at
        %td= render_notification(notification)
        %td.text-center
          = show_link(notification)
          = delete_link(notification)
