.row
  .col-md-6
    .card.card-outline.card-primary
      .card-header
        %h3.card-title
          = fa_icon Notification.icon
          #{Notification.model_name.human}
      .card-body
        = render 'notifications/table_item', notification: @notification
  .col-md-6= render 'observed_elements/observed_element', observed_element: @notification.params[:observer] if @notification.params[:observer]

.row
  .col-md-12
    = render 'data_analysis/evaluated_movements/evaluated_movement', evaluated_movement: @notification.params[:evaluated_movement] if @notification.params[:evaluated_movement] 

