.form-row
  .col-md-6
    .card.card-outline.card-primary
      .card-header
        %h3.card-title
          = fa_icon Notification.icon
          #{Notification.model_name.human}
        .card-tools
          = nested_delete_link(@notification, current_user)
      .card-body.p-1
        = render 'notifications/table_item', notification: @notification
      .card-footer
        .form-row
          .col-md-6
            = link_to 'Prev', [current_user, @notification.previous] if @notification.previous
          .col-md-6.text-right
            = link_to 'Next', [current_user, @notification.next] if @notification.next
        
  .col-md-6
    .card.card-warning.card-outline
      .card-header
        .card-title
          = fa_icon ObservedElement.icon
          = ObservedElement.model_name.human(count: 2)
      .card-body.p-1
        = render 'observed_elements/table_item', observed_element: @notification.params[:observer], evaluated_movement: @notification.params[:evaluated_movement] if @notification.params[:observer]

.form-row
  .col-md-12
    = render 'data_analysis/evaluated_movements/evaluated_movement', evaluated_movement: @notification.params[:evaluated_movement] if @notification.params[:evaluated_movement] 

