%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= ObservedElement.human_attribute_name(:id)
    %td= observed_element.id
  %tr
    %th= ObservedElement.human_attribute_name(:category_element)
    %td= observed_element.category_element
  %tr
    %th= ObservedElement.human_attribute_name(:created_at)
    %td= observed_element.created_at
  %tr
    %th= ObservedElement.human_attribute_name(:common_process)
    %td= observed_element.common_process
  - if observed_element.category_element == 'sanction_list'
    %tr
      %th= ObservedElement.human_attribute_name(:hits)
      %td
        - if SanctionListItem.name_similar(evaluated_movement.payer).count > 0
          - hit = SanctionListItem.name_similar(evaluated_movement.payer).first
          Payer: 
          = link_to evaluated_movement.payer, "/compliance_check/sanction_lists/#{hit.sanction_list_id}/sanction_list_items/search?filter[name]=#{url_encode(evaluated_movement.payer)}&commit=Submit"
          %br
        - if SanctionListItem.name_similar(evaluated_movement.beneficiary).count > 0
          - hit = SanctionListItem.name_similar(evaluated_movement.beneficiary).first
          Beneficiary:
          = link_to evaluated_movement.beneficiary, "/compliance_check/sanction_lists/#{hit.sanction_list_id}/sanction_list_items/search?filter[name]=#{url_encode(evaluated_movement.beneficiary)}&commit=Submit"
