%table.table.table-striped.table-bordered.table-hover
  %tr
    %th= ObservedElement.human_attribute_name(:id)
    %td= observed_element.id
  %tr
    %th= ObservedElement.human_attribute_name(:category_element)
    %td= observed_element.category_element
  %tr
    %th= ObservedElement.human_attribute_name(:created_at)
    %td= observed_element.created_at
  %tr
    %th= ObservedElement.human_attribute_name(:common_process)
    %td= observed_element.common_process
  - if observed_element.category_element == 'sanction_list'
    %tr
      %th= ObservedElement.human_attribute_name(:hits)
      %td
