.form-row
  .col-md-12
    .card.card-primary.card-outline
      .card-header
        .card-title
          = fa_icon ObservedElement.icon
          = ObservedElement.model_name.human(count: 2)
        .card-tools
          = back_link(observed_elements_path)
      .card-body.p-1
        = render 'observed_elements/table_item', observed_element: @observed_element
      .card-footer
        = simple_form_for @observed_element, method: :delete, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
          .form-row
            .col-md-11.pr-0.mr-0
              = f.input :audit_comment
            .col-md-1.pl-1
              = f.submit "Destroy", class: "btn btn-danger"
= render 'base/audits', audits: @observed_element.audits if @observed_element.audits.any?