= errors_for(f.object)
.form-row
  .col-md-6= f.input :description
  .col-md-3= f.input :name

#condition_items.card.card-info
  .card-header.p-1.pl-2
    .cadr-title=CustomerCategory.model_name.human(count: 2)

  = f.simple_fields_for :customer_category_conditional_vars do |customer_category_conditional_var|
    = render 'customer_category_conditional_var_fields', f: customer_category_conditional_var
  .card-footer.links.text-right
    = link_to_add_association "Add #{CustomerCategory.model_name.human}", f, :customer_category_conditional_vars, class: 'btn btn-success btn-sm'
