.row
  .col-md-12
    = simple_form_for [:config, @algorithm_calculator, @conditional_var] do |f|
      .card.card-warning.card-outline
        .card-header
          %h3.card-title
            = fa_icon ConditionalVar.icon
            = t(:edit_resource, resource: ConditionalVar.model_name.human)
          .card-tools= back_link([:config, @algorithm_calculator, :conditional_vars])
        .card-body
          = render 'form', f: f
        .card-footer.clearfix.text-right
          = link_to t(:cancel, default: "Cancel"), [:config, @algorithm_calculator, :conditional_vars], class: "btn btn-warning"
          = f.submit class: "btn btn-success"

