.row
  .col-md-12
    .card.card-primary
      .card-header
        %h3.card-title
          %i.fa.fa-cogs
          = t(:listing_resource, resource: Configurable.model_name.human(:count => 2))
      .card-body
        .table-responsive
          %table.table.table-striped.table-bordered.table-hover
            %thead
              %tr
                %th= Configurable.human_attribute_name(:name)
                %th= Configurable.human_attribute_name(:value)
                %th
            %tbody
              -  @configurables.each do |item|
                %tr
                  - if item.try(:name)
                    %td=t(item.name, default: Configurable.defaults[item.name][:name])
                    %td= item.value
                    %td.col-md-1{nowrap: true}= links(item)
                  - else
                    %td= Configurable.defaults[item][:name]
                    %td= Configurable.defaults[item][:default]
                    %td.col-md-1{nowrap: true}
                      = link_to fa_icon("plus"), new_configurable_path(name: item), class: "btn btn-xs btn-success", data: {toggle: "tooltip", title: t(:add_resource, resource: Configurable.model_name.human)}
