.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-exclamation-triangle
      #{@anagrafica.full_name} - 
      = t(:listing_resource, resource: EvalRiskiness.model_name.human(:count => 2))
      \- #{Date::MONTHNAMES[evaluated_risk.eval_month]} #{evaluated_risk.eval_year}
    .card-tools
  .card-body
    %dl.row
      %dt.col-md-4.text-right= EvaluatedRisk.human_attribute_name(:nr_movements)
      %dd.col-md-8
        - if evaluated_risk.nr_movements.to_i > 0
          = link_to for_month_customers_anagrafica_evaluated_movements_path(@anagrafica, evaluated_risk.eval_year, evaluated_risk.eval_month), class: "btn btn-xs btn-info", title: 'Open popup', remote: true do
            %i.fa.fa-exchange-alt
            Show #{evaluated_risk.nr_movements} movements
        - else 
          0
      %dt.col-md-4.text-right= EvaluatedRisk.human_attribute_name(:last_evaluated_risk7)
      %dd.col-md-8= evaluated_risk.last_evaluated_risk7
      %dt.col-md-4.text-right= EvaluatedRisk.human_attribute_name(:last_evaluated_risk30)
      %dd.col-md-8= evaluated_risk.last_evaluated_risk30
    
    %table.table.table-striped.table-bordered.table-hover.text-center.data-table
      %thead
        %tr
          %th= EvaluatedRisk.human_attribute_name(:eval_day)
          - evaluated_risk.eval_days[evaluated_risk.eval_days.keys.first][0]["details"].keys.each do |key2|
            %th= EvaluatedRisk.human_attribute_name(key2)
          %th.action
      - evaluated_risk.eval_days.keys.each do |key|
        %tr
          %td= "#{key}"
          - evaluated_risk.eval_days[key][0]["details"].keys.each do |key2|
            %td
              - unless evaluated_risk.eval_days[key][0]["details"][key2].kind_of?(Hash)
                = "#{evaluated_risk.eval_days[key][0]["details"][key2]}"
              - else
                - evaluated_risk.eval_days[key][0]["details"][key2].each do |key, value|
                  = "#{key.humanize}: #{value}"
          %td.action
            - if evaluated_risk.eval_days[key][0]["details"]["nr_movements"] > 0
              = link_to for_day_customers_anagrafica_evaluated_movements_path(@anagrafica, key), class: "btn btn-xs btn-info", title: 'Open popup', remote: true do
                %i.fa.fa-exchange-alt
  .card-footer
    .row
      .col-md-6
        = link_to 'Prev', customers_anagrafica_evaluated_risk_path(@anagrafica, @prev) unless @prev.blank?
      .col-md-6.text-right
        = link_to 'Next', customers_anagrafica_evaluated_risk_path(@anagrafica, @next) unless @next.blank?

