.form-row
  .col-md-12
    = simple_form_for [:manager, @role] do |f|
      .box.box-warning
        .box-header
          %h3.box-title
            %i.fa.fa-key
            = t(:edit_resource, resource: Role.model_name.human)
          .spacer
        .box-body
          = render 'form', f: f
        .box-footer.clearfix
          = link_to t(:cancel, default: "Cancel"), roles_path, class: "btn btn-warning"
          = f.submit class: "btn btn-success"

