.row
  .col-md-12
    = simple_form_for [:manager, @user] do |f|
      .box.box-primary
        .box-header
          %h3.box-title
            %i.fa.fa-user
            = t(:add_resource, resource: User.model_name.human)
          .spacer
        .box-body
          = render 'form', f: f
        .box-footer.clearfix
          = link_to t(:cancel, default: "Cancel"), users_path, class: "btn btn-warning"
          = f.submit class: "btn btn-success"

