.col-md-12
  .card.card-primary.card-outline
    .card-header
      %h3.card-title
        = fa_icon Note.icon
        = t(:listing_resource, resource: Note.model_name.human(:count => 2))
      .card-tools
        = link_to(t(:add_resource, resource: Note.model_name.human), [:new, :customers, @anagrafica, :note], class: "btn btn-success btn-xs") if can? :create, Note
    .card-body
      = render "table", notes: notes
    .card-footer.clearfix
      .row
        .col-md-12
          = paginate notes, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
