%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_notes'}
  %thead
    %tr
      %th= Note.human_attribute_name(:id)
      %th= Note.human_attribute_name(:subject)
      %th= Note.human_attribute_name(:body)
      %th= Note.human_attribute_name(:user)
      %th= Note.human_attribute_name(:created_at)
      %th.action
  %tbody
    - notes.each do |item|
      %tr
        %td= item.id
        %td= item.subject
        %td= item.body
        %td= item.user
        %td= item.created_at
        %td.text-center
          = link_to customers_anagrafica_note_path(@anagrafica, item), class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
