.card.card-primary.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-user-check
      = @sanction_list.name
    .card-tools
      = link_to t(:add_resource, resource: SanctionListItem.model_name.human), [:new, :compliance_check, @sanction_list, :sanction_list_item], class: "btn btn-success btn-xs" 
  .card-body
    = render "compliance_check/sanction_list_items/table", sanction_list_items: sanction_list_items
  .card-footer.clearfix
    .row
      .col-md-4= page_entries_info sanction_list_items
      .col-md-8= paginate sanction_list_items, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
