.card.card-primary.card-outline
  .card-header
    %h3.card-title= raw "#{fa_icon(AlgorithmCalculator.icon)} #{AlgorithmCalculator.model_name.human}: #{algorithm_calculator.presentation}"
    .card-tools
      = config_edit_link(algorithm_calculator)
      = back_link(config_algorithm_calculators_path)
  .card-body
    %dl.row
      %dt.col-4.text-right= AlgorithmCalculator.human_attribute_name(:presentation)
      %dd.col-md-8= algorithm_calculator.presentation
      %dt.col-4.text-right= AlgorithmCalculator.human_attribute_name(:name)
      %dd.col-md-8= algorithm_calculator.name
      %dt.col-4.text-right= AlgorithmCalculator.human_attribute_name(:value)
      %dd.col-md-8= algorithm_calculator.value
      %dt.col-4.text-right= AlgorithmCalculator.human_attribute_name(:multidimension)
      %dd.col-md-8= algorithm_calculator.multidimension
      %dt.col-4.text-right= AlgorithmCalculator.human_attribute_name(:conditional)
      %dd.col-md-8= algorithm_calculator.conditional
      %dt.col-4.text-right= AlgorithmCalculator.human_attribute_name(:conditional_vars)
      %dd.col-md-8= algorithm_calculator.conditional_vars.to_sentence

