.card.card-info.card-outline
  .card-header
    .card-title
      %i.fa.fa-chart-bar
      = algorithm_calculator.presentation
    .card-tools
      %span.algorithm_calculator.btn.btn-info.btn-sm{class: "#{algorithm_calculator.name}"}
        0.00
  .card-body
    = simple_form_for :algorithm, html: {id: "algorithm_calculator_form_#{algorithm_calculator.name}", class: "#{algorithm_calculator.name}"}, remote: false do |f|
      .form-row
        .col-4
          = f.input :input, as: algorithm_calculator.result_type, label: false, input_html: {value: "#{algorithm_calculator.default_input_value}", class: "#{algorithm_calculator.name}"}
        .col-8.pl-0
          .input-group
            %input#algorithm_calculator_eq.form-control{type: "text", value: "", class: "#{algorithm_calculator.name}"}
            %span.input-group-append
              %input.btn.btn-success.btn-flat{type: "submit", value: 'Plot'}>
    %div{id: "plot_#{algorithm_calculator.name}"}

:javascript

  function algorithm_eq_#{algorithm_calculator.name}() {
    let str = "#{algorithm_calculator.default_eq}"
    $("input#algorithm_calculator_eq.#{algorithm_calculator.name}").val(str)
    return str
  }
  function plot_#{algorithm_calculator.name}() {
    draw($("input#algorithm_calculator_eq.#{algorithm_calculator.name}").val(), "plot_#{algorithm_calculator.name}", ["#{algorithm_calculator.abscissa_min}", "#{algorithm_calculator.abscissa_max}", "#{algorithm_calculator.abscissa_intervall}"])
  }

  function calculateFactor_#{algorithm_calculator.name}() {
    let amount_eq = algorithm_eq_#{algorithm_calculator.name}().replace("**", "^")
    let opts = {
      x: parseFloat($("input#algorithm_input.#{algorithm_calculator.name}").val()),
    }
    const algorithm_calculator = calculateExpression(amount_eq, opts)
    $("span.algorithm_calculator.#{algorithm_calculator.name}").html(formatFactor(algorithm_calculator))
    return algorithm_calculator
  }

  document.getElementById("algorithm_calculator_form_#{algorithm_calculator.name}").onsubmit = function (event) {
    plot_#{algorithm_calculator.name}()
    event.preventDefault()
  }
  
  $('input#algorithm_input').on('keyup change paste', function(){
    calculateFactor_#{algorithm_calculator.name}()
  })
  $(".conditional_items.#{algorithm_calculator.name}").on('change', function(){
    calculateFactor_#{algorithm_calculator.name}()
  })
  calculateFactor_#{algorithm_calculator.name}()
  plot_#{algorithm_calculator.name}()

