- if notes.any?
  %table.table.table-striped.table-bordered.table-hover.data-table
    %thead
      %tr
        %th= Note.human_attribute_name(:subject)
        %th= Note.human_attribute_name(:created_at)
        %th.col-md-1
    %tbody
      - notes.each do |note|
        %tr
          %td= note.subject
          %td= note.created_at
          %td
            = link_to fa_icon("eye"), data_analysis_anagrafica_note_path(note.anagrafica, note), class: "btn btn-xs btn-primary", data: {toggle: "tooltip", title: t(:show_resource, resource: Note.model_name.human)}, remote: true
- else             
  .well= t(:no_records_found, default: "No records found")
