.card.card-primary
  .card-header
    %h3.card-title
      %i.fas.fa-exclamation-triangle
      #{@anagrafica.full_name} - 
      = t(:show_resource, resource: EvaluatedMovement.model_name.human)
  .card-body
    %dl.row
      - for attribute in evaluated_movement.attributes.keys
        %dt.col-md-4.text-right= attribute.humanize
        %dd.col-md-8= evaluated_movement.attributes[attribute] && evaluated_movement.attributes[attribute] != '' && evaluated_movement.attributes[attribute] != '""'? evaluated_movement.attributes[attribute].to_s : ' - '
  .card-footer
    .row
      .col-md-6
        = link_to 'Prev', customers_anagrafica_evaluated_movement_path(@anagrafica, @prev) unless @prev.blank?
      .col-md-6.text-right
        = link_to 'Next', customers_anagrafica_evaluated_movement_path(@anagrafica, @next) unless @next.blank?

= render 'customers/servizi/servizio', servizio: evaluated_movement.service