%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_servizi', data: {order: '[[7, "desc"]]'}}
  %thead
    %tr
      %th= Servizio.human_attribute_name(:servizio)
      %th= Servizio.human_attribute_name(:point)
      %th= Servizio.human_attribute_name(:importo)
      %th= Servizio.human_attribute_name(:commissioni)
      %th= Servizio.human_attribute_name(:nomeprodotto)
      %th= Servizio.human_attribute_name(:vendor)
      %th= Servizio.human_attribute_name(:datainserimento)
      %th= Servizio.human_attribute_name(:lastupdate)
      %th= Servizio.human_attribute_name(:status)
      %th.action{data: {orderable: "false"}}
  %tbody
    - servizi.each do |item|
      %tr
        %td= item.idservizio
        %td= link_to item.anagrafica.try(:full_name), customers_anagrafica_path(item.point) if item.anagrafica
        %td= item.importo
        %td= item.commissioni
        %td= item.nomeprodotto
        %td= item.vendor
        %td= item.datainserimento
        %td= item.lastupdate
        %td= item.statoservizio
        - if can? :manage, Servizio
          %td.text-center{nowrap: true}
            = link_to fa_icon('eye'), data_analysis_servizio_path(item), class: "btn btn-xs btn-primary"