.row
  .col-md-8= f.input :name, readonly: true
  .col-md-4= f.input :score
.row
  .col-md-4= f.input :continent, readonly: true
  .col-md-4= f.input :region, readonly: true
  .col-md-4= f.input :subregion, readonly: true
= f.input :unofficial_names, readonly: true
.row
  .col-md-3= f.input :gec, readonly: true
  .col-md-3= f.input :alpha2, readonly: true
  .col-md-3= f.input :alpha3, readonly: true
  .col-md-3= f.input :world_region, readonly: true


