.card.card-primary
  .card-header
    %h3.card-title
      %i.fas.fa-globe
      #{related_country.name}
  .card-body
    %dl.row
      - for attribute in related_country.attributes.keys
        %dt.col-md-4.text-right= attribute.humanize
        %dd.col-md-8= related_country.attributes[attribute]
  .card-footer
    .row
      .col-md-6
        = link_to 'Prev', [:data_analysis, @prev] unless @prev.blank?
      .col-md-6.text-right
        = link_to 'Next', [:data_analysis, @next] unless @next.blank?

