.row
  .col-md-6= render 'kyc_scores_map'
  .col-md-6= render 'basel_scores_map'
.row
  .col-md-6= render 'gray_or_black_lists_map'
  .col-md-6= render 'attention_factors_map'
#countries.row= render "related_countries"
