.col-md-12
  .card.card-primary.card-outline
    .card-header
      %h3.card-title
        %i.fa.fa-user-check
        = t(:listing_resource, resource: SanctionList.model_name.human(:count => 2))
      = render 'card_tools'
    .card-body
      = render "table", sanction_lists: @sanction_lists
    .card-footer.clearfix
      .row
        .col-md-4= page_entries_info @sanction_lists
        .col-md-8= paginate @sanction_lists, theme: 'twitter-bootstrap-4', nav_class: "float-right", pagination_class: 'm-0'
