%table.table.table-striped.table-bordered.table-hover.data-table{id: 'table_movements'}
  %thead
    %tr
      %th= Iban.human_attribute_name(:anagrafica)
      %th= Iban.human_attribute_name(:Conto)
      %th= Iban.human_attribute_name(:Iban)
      %th= Iban.human_attribute_name(:Tipo)
      %th= Iban.human_attribute_name(:C)
      %th.action{data: {orderable: "false"}}
  %tbody
    - ibans.each do |item|
      %tr
        %td= item.anagrafica
        %td= item.Conto
        %td= item.Iban
        %td= item.Tipo
        %td= item.C
        %td.text-center
          = link_to fa_icon('eye'), data_analysis_iban_path(item.id), class: "btn btn-xs btn-primary", data:{toggle: "tooltip"}, title: 'Show'
