%table.table.table-striped.table-bordered.table-hover.margin-none.data-table
  %thead
    %tr
      %th= Algorithm.human_attribute_name(:presentation)
      %th= Algorithm.human_attribute_name(:name)
      %th= Algorithm.human_attribute_name(:eq)
      %th{data: {orderable: "false"}}
  %tbody
    - algorithms.each do |item|
      %tr
        %td= item.presentation
        %td= item.name
        %td= item.eq
        %td.md-1.text-center{nowrap: true}
          - if can? :manage, Algorithm
            = link_to fa_icon("copy"), [:duplicate, :config, item], class: "btn btn-xs btn-success", data: {toggle: "tooltip", title: t(:duplicate_resource, resource: item.model_name.human)}
            = config_links(item)
