.form-row
  .col-md-12
    = simple_form_for [:config, @algorithm] do |f|
      .card.card-success.card-outline
        .card-header
          %h3.card-title
            %i.fa.fa-key
            = t(:add_resource, resource: Algorithm.model_name.human)
          .card-tools= back_link(config_algorithm_calculators_path)
        .card-body
          = render 'form', f: f
        .card-footer.clearfix.text-right
          = link_to t(:cancel, default: "Cancel"), [:config, :algorithms], class: "btn btn-warning"
          = f.submit class: "btn btn-success"

