.card.card-info.card-outline
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:recursions, default: "Recursions")
    .card-tools
      %button{type: "button", class: "btn btn-tool", "data-card-widget" => "maximize"}
        %i.fas.fa-expand
      %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
        %i.fas.fa-minus
  .card-body
    .form-row
      .col-md-12.text-right
        .btn-group
          = link_to_function 'All 7', "getRecursions('all_7')", class: "btn-recursions btn btn-info btn-sm active", id:'all_7'
          = link_to_function 'All 30', "getRecursions('all_30')", class: "btn-recursions btn btn-info btn-sm", id:'all_30'
          = link_to_function 'Customer 7', "getRecursions('customer_7')", class: "btn-recursions btn btn-info btn-sm", id:'customer_7'
          = link_to_function 'Customer 30', "getRecursions('customer_30')", class: "btn-recursions btn btn-info btn-sm", id:'customer_30'
        
      .col-md-12
        = column_chart chart_data_analysis_recursions_path(key: 'all_7'), remote: true, stacked: true, legend: false, id: 'recursions-chart', height: '500px'
    .form-row
      .col-md-12.p-3
        = render 'table'
