%table.table.table-striped.table-bordered.table-hover{id: 'webpush_subscriptions'}
  %thead
    %tr
      %th= WebpushSubscription.human_attribute_name(:id)
      %th= WebpushSubscription.human_attribute_name(:browser)
      %th= WebpushSubscription.human_attribute_name(:platform)
      %th= WebpushSubscription.human_attribute_name(:created_at)
      %th.action{data: {orderable: "false"}}
  %tbody
    - webpush_subscriptions.each do |item|
      %tr
        %td= item.id
        %td{nowrap: true}= "#{item.client["name"]}/#{item.client["layout"]} #{item.client["version"]}"
        %td= "#{item.client["os"]["family"]} #{item.client["os"]["architecture"]}"
        %td=l item.created_at
        - if can? :manage, WebpushSubscription
          %td.text-center{nowrap: true}
            = link_to fa_icon('eye'), [@user, item], class: "btn btn-xs btn-primary", data:{toggle: "tooltip"}, title: 'Show'
            = nested_delete_link(item, @user)