.row.pb-3
  .col-md-8
    .row
      .col-6.pr-0
        = render 'amount_factor'
        = render 'country_factor'
      .col-6.p-0
        = render 'recursion_factor'
        = render 'product_factor'
  .col-md-4
    = render 'evaluated_factor'
