.card.card-outline.card-success
  .card-header
    %h3.card-title
      %i.fas.fa-search-dollar
      #{evaluated_movement.customer.full_name} - 
      = t(:show_resource, resource: EvaluatedMovement.model_name.human)
  .card-body
    = render 'data_analysis/evaluated_movements/table_item', evaluated_movement: evaluated_movement
  .card-footer
    .row
      .col-md-6
        = link_to 'Prev', [:data_analysis, @prev] unless @prev.blank?
      .col-md-6.text-right
        = link_to 'Next', [:data_analysis, @next] unless @next.blank?

