.card.card-info.card-outline{class: "#{ 'collapsed-card' unless params[:filter]}" }
  .card-header
    %h3.card-title
      %i.fa.fa-chart-bar
      = t(:filters, default: 'Filters')
    .card-tools
      %button{type: "button", class: "btn btn-tool", "data-card-widget" => "collapse"}
        %i.fas{class: " #{ params[:filter] ? 'fa-minus' : 'fa-plus'}" }
  .card-body
    = simple_form_for :filter, url: [:data_analysis, :evaluated_movements], method: :get, html: {id: 'filter_form'}, remote: true do |f|
      = render '/data_analysis/evaluated_movements/form_filters', f: f
:javascript
  document.addEventListener("turbolinks:load", () => {
    $(".local-daterange").daterangepicker({
      startDate: moment("#{params[:filter][:daterange].split(' - ')[0]}",'DD/MM/YYYY'),
      endDate: moment("#{params[:filter][:daterange].split(' - ')[1]}",'DD/MM/YYYY'),
      maxDate: moment(),
      locale: { format: 'DD/MM/YYYY'},
    })
  })
