.card.card-outline.card-primary
  .card-header
    .card-title
      %i.fas.fa-map-marker-alt
      #{EvaluatedMovement.model_name.human}
  .card-body
    #mapid{ style: "height: 680px;" }
  .card-footer
    .form-row
      .col-md-6
        = link_to 'Prev', [:data_analysis, @prev] unless @prev.blank?
      .col-md-6.text-right
        = link_to 'Next', [:data_analysis, @next] unless @next.blank?
:javascript
  var map = L.map('mapid', {
    center: [#{evaluated_movement.destination_lonlat.latitude}, #{evaluated_movement.destination_lonlat.longitude}],
    zoom: 4
  });
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
  }).addTo(map);
  L.marker([#{evaluated_movement.origin_lonlat.latitude}, #{evaluated_movement.origin_lonlat.longitude}]).addTo(map)
  L.marker([#{evaluated_movement.destination_lonlat.latitude}, #{evaluated_movement.destination_lonlat.longitude}]).addTo(map)
  L.Polyline.Arc([#{evaluated_movement.origin_lonlat.latitude}, #{evaluated_movement.origin_lonlat.longitude}], [#{evaluated_movement.destination_lonlat.latitude}, #{evaluated_movement.destination_lonlat.longitude}], {
    color: 'red'
  }).bindPopup('#{to_popup_em(evaluated_movement)}').addTo(map).openPopup();

