%table.table.table-striped.table-bordered.table-hover.data-table{
  id: 'table_evaluated_movements',
  data: { 
    order: '[[2, "desc"]]',
    report: { 
      source: 'EvaluatedMovement',
      path: "#{user_reports_path(current_user)}"}
  }
}
  %thead
    %tr
      %th{data: { priority: '10' }}= EvaluatedMovement.human_attribute_name(:id)
      %th{data: { priority: '9' }}
        = EvaluatedMovement.human_attribute_name(:triggerable)
      %th{data: { priority: '8' }}
        = EvaluatedMovement.human_attribute_name(:movement_created_at)
      %th{data: { priority: '1' }}
        = EvaluatedMovement.human_attribute_name(:customer)
      %th{data: { priority: '2' }}
        = EvaluatedMovement.human_attribute_name(:amount)
      %th{data: { priority: '1' }}
        = EvaluatedMovement.human_attribute_name(:payer)
      %th{data: { priority: '2' }}
        = EvaluatedMovement.human_attribute_name(:payer_other)
      %th{data: { priority: '2' }}
        = EvaluatedMovement.human_attribute_name(:reason)
      %th{data: { priority: '5' }}
        = EvaluatedMovement.human_attribute_name(:product_name)
      %th{data: { priority: '11' }}
        = EvaluatedMovement.human_attribute_name(:product_id)
      %th{data: { priority: '2' }}
        = EvaluatedMovement.human_attribute_name(:beneficiary)
      %th{data: { priority: '13' }}
        = EvaluatedMovement.human_attribute_name(:product_base_risk)
      %th.text-center{data: { priority: '3' }}
        Recursions (7 / 30)
      %th.text-center{data: { priority: '3' }}
        Recursions Customer (7 / 30)
      %th{data: { priority: '3' }}
        = EvaluatedMovement.human_attribute_name(:evaluated_factor7)
      %th{data: { priority: '3' }}
        = EvaluatedMovement.human_attribute_name(:evaluated_factor30)
      %th{data: { priority: '12' }}
        = EvaluatedMovement.human_attribute_name(:destination_lonlat)
      %th{data: { priority: '10' }}
        = EvaluatedMovement.human_attribute_name(:internal)
      %th{data: { priority: '7' }}
        = EvaluatedMovement.human_attribute_name(:origin_country)
      %th{data: { priority: '6' }}
        = EvaluatedMovement.human_attribute_name(:destination_country)
      %th{data: { priority: '1', orderable: 'false' }, nowrap: true}
  %tbody
    - evaluated_movements.each do |item|
      %tr{style: "color: #{item.in_out === 'IN' ? 'green' : '#600'}; background-color: #{item.observers.count > 0 ? '#fc0' : ''}"}
        %td= item.id
        %td= link_to item.triggerable_id, [:data_analysis, item.triggerable]
        %td= item.movement_created_at
        %td
          = link_to item.customer.full_name, customers_anagrafica_path(item.customer_id)
        %td.text-center= humanized_money_with_symbol item.amount
        %td= item.payer
        %td= item.payer_other
        %td= item.reason
        %td= item.product_name
        %td
          = link_to item.product_id, data_analysis_prodotto_path(item.product_id) if item.product_id
        %td
          = item.beneficiary
          %br/
          = item.beneficiary_iban
        %td= item.product_base_risk
        %td.text-center
          = link_to item.recursion_all_7, [:recursive, :data_analysis, item, params: {q: 'all', days: 7}]
          \/
          = link_to item.recursion_all_30, [:recursive, :data_analysis, item, params: {q: 'all', days: 30}]
        %td.text-center
          = link_to item.recursion_customer_7, [:recursive, :data_analysis, item, params: {q: 'customer', days: 7}]
          \/
          = link_to item.recursion_customer_30, [:recursive, :data_analysis, item, params: {q: 'customer', days: 30}]
        %td.text-center= number_with_precision item.evaluated_factor7
        %td.text-center= number_with_precision item.evaluated_factor30
        %td= item.destination_lonlat
        %td.text-center= item.internal
        %td.text-center= item.origin_country
        %td.text-center= item.destination_country
        %td.text-center{data: { orderable: 'false' }}
          = link_to [:data_analysis, item], class: "btn btn-xs btn-primary" do
            %i.fa.fa-eye
