.form-row
  .col-md-12
    .card.card-primary.card-outline
      .card-header
        %h3.card-title= raw "#{fa_icon('key')} #{Role.model_name.human}: #{@role.presentation}"
        .card-tools
          = edit_link(@role)
          = back_link(roles_path)

      .card-body
        %dl.form-row
          %dt.col-4.text-right= Role.human_attribute_name(:presentation)
          %dd.col-md-8= @role.presentation
          %dt.col-4.text-right= Role.human_attribute_name(:description)
          %dd.col-md-8= @role.description
          %dt.col-4.text-right= Role.human_attribute_name(:name)
          %dd.col-md-8= @role.name
          %dt.col-4.text-right= Role.human_attribute_name(:level)
          %dd.col-md-8= @role.level

