.row
  .col-md-4= f.input :field_name, as: :select, collection: Anagrafica.column_names, input_html: {class: "select2", style: "width: 100%;"}
  .col-md-4= f.input :field_type, as: :select, collection: CustomerCategory.field_types
  .col-md-4= f.input :field_operator, as: :select, collection: CustomerCategory.field_operators
.row
  .col-md-8= f.input :name
  .col-md-4= f.input :value
