.row
  .col-md-12
    = simple_form_for @customer_category do |f|
      .card.card-success.card-outline
        .card-header
          %h3.card-title
            %i.fa.fa-key
            = t(:add_resource, resource: CustomerCategory.model_name.human)
          .card-tools= back_link(customer_categories_path)
        .card-body
          = render 'form', f: f
        .card-footer.clearfix
          = link_to t(:cancel, default: "Cancel"), customer_categories_path, class: "btn btn-warning"
          = f.submit class: "btn btn-success"

