= render 'data_analysis/filters/filters'
.form-row
  .col-md-12
    .card
      .card-title
      .card-header
        %h3.card-title
          %i.fa.fa-calendar
          = "#{@start_date} - #{@end_date}"
      .card-body
        %pre
          %code= params
        %pre
          %code= @sql
        %pre
          %code= Anagrafica.order(idutente: :desc).limit(100).to_sql
  