.row
  .col-md-12
    .card.card-primary.card-outline
      = simple_form_for :filter, method: :get, remote: false do |f|
        .card-header
          %h3.card-title
            %i.fa.fa-search
            = t(:check_ibans, default: "Check Ibans")
        .card-body
          .row
            .col-md-6= f.input :iban, hint: "Type Iban to check", required: false, input_html: {value: "#{params[:filter][:iban] if params[:filter]}"}
        .card-footer
          = f.submit "Submit", disable_with: 'Submiting...', class: 'btn btn-success'

  - if @iban_info
    .col-md-12
      .card.card-success.card-outline
        .card-header
          %h3.card-title
            %i.fa.fa-list
            = t(:result, default: "Result")
        .card-body
          %pre
            %code= JSON.pretty_generate(@iban_info)

