.card.card-outline.card-success
  .card-header
    .card-title
      = fa_icon Report.icon
      = t(:show_resource, resource: report.name)
    .card-tools
      = link_to fa_icon("trash"), [@user, report], data: {toggle: "tooltip", confirm: t(:are_you_sure, default: 'Are you sure?'), title: t(:delete_resource, resource: report.model_name.human), commit: t(:sure, default: 'Sure!'), cancel: t(:cancel, default: 'Cancel')}, :method => :delete, class: "btn btn-xs btn-danger"
  .card-body
    %dl.form-row
      - for attribute in report.attributes.keys
        %dt.col-md-4.text-right= attribute.humanize
        %dd.col-md-8= report.attributes[attribute] && report.attributes[attribute] != '' && report.attributes[attribute] != '""'? report.attributes[attribute].to_s : ' - '


