.col-md-12
  .card.card-primary
    .card-header
      %h3.card-title
        %i.fa.fa-exchange-alt
        = t(:listing_resource, resource: RiskMovement.model_name.human(:count => 2))
        = " - #{tuple_to_html(current_tuple)}"
    .card-body
      = render "table", risk_movements: risk_movements

    .cerd-footer.clearfix
      .form-row
        .col-md-3
          = page_entries_info risk_movements
        .col-md-9.text-right
          = paginate risk_movements, remote: true

