<!DOCTYPE html>
<html>
  <head>
    <title>eDataAnalysis 2.0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'manager', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script>
      const vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials.dig(:webpush, :public_key)).bytes %>);
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'map' , 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/chart.js" %>
    <%= javascript_include_tag "https://unpkg.com/chartjs-chart-geo@3.5.2/build/index.umd.min.js" %>
    <link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.1.1/b-colvis-2.1.1/b-html5-2.1.1/r-2.2.9/sr-1.0.1/datatables.min.css" />
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
      src="https://cdn.datatables.net/v/bs4/dt-1.11.3/b-2.1.1/b-colvis-2.1.1/b-html5-2.1.1/r-2.2.9/sr-1.0.1/datatables.min.js"></script>

    <%= yield :javascript_in_head %>

    <script src="https://unpkg.com/mathjs@10.1.1/lib/browser/math.js"></script>
    <script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">

  </head>
  <body data-scrollbar-auto-hide="n" class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%= render "base/header" %>
      <%= render "base/sidebar" %>
      <div class="content-wrapper">
        <%= render 'base/content_header' %>
          <div class="content">
            <div class="container-fluid p-0">
              <%= render "base/flash_messages" %>
              <%= yield %>
            </div>
          </div>
      </div>
    
      <%= render "base/footer" %>
      <%= render "base/control_sidebar" %>
    </div>
    <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true"></div>
  </body>
</html>
